@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Manage Products";
}

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.OrderByDescending(x => x.ModifiedDate))
        {
        <tr>
            <td>@product.ProductID</td>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.Category?.Name</td>
            <td>@product.ModifiedDate</td>
            <td>@Html.ActionLink("Edit", "EditById", new { Id = product.ProductID })</td>
        </tr>
        }

    </tbody>
</table>